.app {
  background: #0C0C0C;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* flex: 1 0 auto; */
  /* justify-content: center; */
  align-items: center;
}

.app__nav {
  width: 50%;
  max-width: 200px;
  margin: 50px auto;
}

.app__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.app__list-item {
  list-style: none;
}

.app__button {
  height: 50px;
  width: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
}

.app__button:hover {
  box-shadow: -1px -1px 20px 2px rgba(255, 255, 255, 1);
}

.app__button_active {
  background-color: #ffffff;
  color: #000000;
  /* box-shadow: -1px -1px 20px 2px rgba(255, 255, 255, 1); */
  /* transform: scale(1.2); */
  cursor: default;
}